<!--HTML para login form. Funciones jQuery se encuentran en assets-->
<form class="form-signin" action="/session/create" method="POST">
	<fieldset>
		<legend>Ingrese sus credenciales</legend>
			Usuario: <br> 
			<input type="text" class="form-control" id="username" name="username"> <br>
			Contraseña: <br>
			<input type="password" class="form-control" id="password" name="password"> <br>
			<input type="submit" class="btn btn-lg btn-primary btn-block" value="Login">
	</fieldset>
</form>